.card {
    margin-top: 80px;
    position: fixed;
    padding-left: 10px;
}

#remove-btn {
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 3px;
    color: azure;
    background-color: black;
}

.visit {
    color: #ff00bc;
}

.go-contact {
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 20px;
    color: azure;
    background-color: rgb(49, 45, 45);
    transition: all 0.3s ease;
    font-size: 17px;
    border: none;
}

.go-contact:hover {
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .card {
        position: sticky;
    }
}